body {
  background-color: #f2f4f5;
  margin: 0;
}

header {
  width: 100%;
  height: 60px;
  background-color: #9013FE;
  display: block;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

main {
  width: 1000px;
  height: 500px;
  display: table;
  background-color: white;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.box {
  width: 300px;
  height: 200px;
  display: block;
  background-color: #80E817;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 25px;
}