@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Open Sans", sans-serif;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }

  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }

  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }

  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 25px;
  }

  30% {
    bottom: 15px;
    opacity: 1;
  }

  70% {
    bottom: 10px;
  }

  100% {
    bottom: 5px;
    opacity: 0;
  }
}

@media screen and (min-width: 320px) {
  .jl-page-wrapper,
  .jl-preloader {
    width: 100%;
    height: 100vh;
    display: table;
    background: #1c1c1c;
    border: 30px solid #000;
  }

  .jl-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  .jl-modal {
    width: 800px;
    position: fixed;
    padding: 30px;
    border-radius: 0 30px 30px 30px;
    display: table;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1200;
  }

  .jl-modal-header {
    width: 100%;
    display: table;
    position: relative;
  }

  .jl-close-modal {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #2f2f2f;
    color: #2ccb69;
    text-align: center;
    line-height: center;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .jl-overlay {
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgb(44, 203, 105, 0.95);
  }

  .jl-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  .jl-logo {
    width: 74px;
    height: 110px;
    float: left;
    margin-left: 60px;
    background: #2ccb69;
    border-radius: 0 0 37px 0;
  }

  .jl-logo img {
    width: 46px;
    height: 31px;
    display: block;
    margin: 55px auto 0;
  }

  .jl-menu {
    display: none;
  }

  .jl-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    background: #2ccb69 url(../IMAGES/icon-contact-close.svg) no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s ease-out;
    border: none;
    cursor: pointer;
  }

  .jl-contact-info {
    width: 245px;
    height: 165px;
    padding: 25px;
    position: fixed;
    bottom: 115px;
    right: 65px;
    z-index: 200;
    display: none;
  }

  .jl-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }

  .jl-contact-info-inner p {
    font-size: 18px;
    line-height: 24px;
  }

  .jl-social-links {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -12px;
    margin-top: 7px;
  }

  .jl-social {
    width: 45px;
    height: 45px;
    display: inline-block;
  }

  .jl-social > img {
    width: 20px;
    height: auto;
    display: block;
    margin: 13px auto 0;
  }

  .jl-corner {
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    display: relative;
  }

  .jl-corner::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -23px;
    right: -0.5px;
    background: transparent url(../IMAGES/corner.svg) no-repeat;
  }

  /* ---- HOME ----*/
  .jl-display-text {
    margin-top: 10%;
  }

  #jl-home-presentation {
    background-image: url(../IMAGES/joao-lemon-designer-home.png);
    background-position: 70% bottom;
    background-repeat: no-repeat;
    position: relative;
  }

  .jl-scroll-down {
    width: 70px;
    height: 105px;
    border-radius: 35px 35px 0 0;
    background: #2ccb69;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
  }

  .jl-arrow-down {
    width: 100%;
    height: 75px;
    display: table;
    margin-top: 30px;
    position: relative;
  }

  .jl-arrow-down img {
    width: 16px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: arrowDown 1.5s linear 1.5s infinite;
  }

  .jl-arrow-down::before {
    content: "";
    width: 2px;
    height: 45px;
    display: block;
    position: absolute;
    background: #000;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: lineDown 1.5s infinite ease-out;
    transform-origin: top center;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .jl-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
  }

  .jl-menu a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #bcbcbc;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px 0 20px;
    position: relative;
  }

  .jl-menu a:first-child {
    margin-left: 0;
  }

  .jl-menu a:hover {
    color: #2ccb69;
  }

  .jl-menu a::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #2ccb69;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }

  .jl-menu a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1364px) {
}

@media screen and (min-width: 1600px) {
}

/* ########### BOTÕES ########### */

.jl-btn {
  display: table;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease-out;
  text-transform: lowercase;
}

.jl-btn-small {
  height: 28px;
  padding: 0 20px;
  border-radius: 14px;
  font-size: 11px;
}

.jl-btn-medium {
  height: 38px;
  padding: 0 27px;
  border-radius: 19px;
  font-size: 14px;
}

.jl-btn-large {
  height: 45px;
  padding: 0 35px;
  border-radius: 23px;
  font-size: 16px;
}

.jl-btn-green {
  background: #2ccb69;
  color: #1c1c1c;
}

.jl-btn-green:hover {
  background: #068737;
  color: #fff;
  cursor: pointer;
}

.jl-btn-dark {
  background: #151515;
  color: #2ccb69;
}

.jl-btn-dark:hover {
  background: #2f2f2f;
  color: #fff;
  cursor: pointer;
}

/* ########### CLASSES UTILITÁRIAS ########### */

.jl-title {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
}

.jl-title-big {
  font-size: 120px;
}

.jl-text-green {
  color: #2ccb69;
}

.jl-text-dark {
  color: #4d4c4c;
}

.jl-text-light {
  color: #bcbcbc;
}

.jl-text-black {
  color: #000;
}

.jl-bg-green {
  background: #2ccb69;
}

.jl-bg-dark {
  background: #4d4c4c;
}

.jl-bg-light {
  background: #bcbcbc;
}

.jl-bg-black {
  background: #000;
}

.jl-mar-15 {
  margin: 15px;
}

.jl-mar-top-15 {
  margin-top: 15px;
}

.jl-mar-right-15 {
  margin-right: 15px;
}

.jl-mar-bottom-15 {
  margin-bottom: 15px;
}

.jl-mar-left-15 {
  margin-left: 15px;
}

.jl-pad-15 {
  padding: 15px;
}

.jl-pad-top-15 {
  padding-top: 15px;
}

.jl-pad-right-15 {
  padding-right: 15px;
}

.jl-pad-bottom-15 {
  padding-bottom: 15px;
}

.jl-pad-left-15 {
  padding-left: 15px;
}

.jl-full-height {
  height: 100vh;
}

.jl-first-section {
  height: calc(100vh - 30px);
}

/* ########### CLASSES COMPORTAMENTAIS ########### */

.jl-is-open {
  display: block;
}

.jl-change-icon {
  background-position-y: -45px;
}

.jl-fade-out {
  animation: fadeOut 2s forwards ease-out;
}
