* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
  width: 600px;
  height: 200px;
  display: table;
  padding: 30px;
  margin: 60px auto 0 auto;
  background-color: indigo;
}

.form-field {
  width: 100%;
  display: table;
  position: relative;
  margin-bottom: 15px;
}

.form-field input {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  border: none;
  margin-bottom: 30px;
  text-indent: 10px;
}

.form-field span {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.error {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  line-height: 34px;
  padding-left: 15px;
  height: 34px;
  color: white;
  background: red;
  display: block;
  opacity: 1 !important;
}

.success {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  line-height: 34px;
  padding-left: 15px;
  height: 34px;
  color: white;
  background: green;
  display: block;
  opacity: 1 !important;
}

.validate {
  width: 600px;
  display: table;
  margin: 0 auto;
  height: 60px;
  border: none;
  font-size: 21px;
  color: indigo;
  background-color: mediumspringgreen;
  cursor: pointer;
}

.validate:hover {
  color: palegreen;
  background-color: mediumvioletred;
}