body {
  text-align: center;
  margin-top: 100px;
}

h1 {
  width: 300px;
  height: 50px;
  margin: 15px auto;
  display: block;
  background: #f2f2f2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 50px;
  transition: all 0.3s ease-out;
}

.my-buttons {
  width: 300px;
  height: 50px;
  margin: 15px auto;
  display: block;
}

.my-buttons button {
  width: 50%;
  height: 40px;
  float: left;
}

.change-itens {
  display: inline-block;
  background: green !important;
}